*{
    /* margin: 0; */
    padding: 0;
}
.file{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

/* FORM 1*/
@font-face {
    font-family: 'Montserrat-regular';
    src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat-medium';
    src: url('../fonts/Montserrat/static/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'Montserrat-bold';
    src: url('../fonts/Montserrat/static/Montserrat-Bold.ttf');
}
@font-face{
    font-family: 'Nunito-sans-light';
    src: url('../fonts/NunitoSans-Light.ttf');
}
@font-face{
    font-family: 'Nunito-sans-regular';
    src: url('../fonts/NunitoSans-Regular.ttf');
}
@font-face{
    font-family: 'Nunito-sans-black';
    src: url('../fonts/NunitoSans-Black.ttf');
}
@font-face{
    font-family: 'Rubik-regular';
    src: url('../fonts/static/Rubik-Bold.ttf');
}
@font-face{
    font-family: 'Rubik-Medium';
    src: url('../fonts/static/Rubik-Medium.ttf');
}
.registration{
    margin: 0 auto;
    font-family:'Rubik-regular';
    width: 568px;
    border: 2px solid black;
    opacity: 0.9; 
    border-radius: 20px;
}
.enter{
    margin: 0 auto;
    font-family:'Rubik-regular';
    width: 568px;
    border: 2px solid black;
    opacity: 0.9; 
    border-radius: 20px;
}
.registration__header, .enter__header{
    display: flex;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid #C4C4C4;
}
.registration__subtitle, .enter__subtitle{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #474747;
}
.registration__subtitle::before{
    content: '\00D7';
    font-size: 25px;
    display: block;
    margin: 0 180px 0 0;
}
.enter__subtitle::before{
    content: '\00D7';
    font-size: 25px;
    display: block;
    margin: 0 220px 0 0;
}
.registration__form, .enter__form{
    display: flex;
    flex-direction: column;
    padding: 30px 30px 45px 30px;
}
.registration__form__title, .enter__form__title{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
}
.registration__form__input, .enter__form__input{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #B0B0B0;
    border-radius: 8px; 
    padding: 14px 18.5px;
    margin-bottom: 15px;
}
.registration__subtext{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
}
.enter__subtext{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.registration__form__agree,.enter__form__agree {
    display: flex;
    padding-bottom: 30px;
}
.registration__form__check, .enter__form__check{
    flex: 0 0 24px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 30px;
    height: 24px;
    margin-right: 15px;
}
.registration__form__btn{
    width: 518px;
    height: 43px;
    left: 30px;
    top: 546px;
    background: #B13957;
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #AFAFAF;
}
.enter__form__btn{
    width: 518px;
    height: 43px;
    left: 30px;
    top: 546px;
    background:#ddb771;
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #AFAFAF;
    margin-bottom: 20px;
}
label{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
label span{
    color: #008C8C;
}
p span{
    color: #008C8C;
}
.registration__form__enter, .enter__form__enter{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-self: center;
    margin-bottom: 20px;
    padding-top: 10px;
}
.registration__form__button, .enter__form__button{
    font-family:'Rubik-Medium';
    width: 518px;
    height: 56px;
    border: 1px solid #AFAFAF;
    border-radius: 8px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #afafaf71;
}
.google::before{
    content: "";
    background: url('../img/google.svg');
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.facebook::before{
    content: "";
    background: url('../img/facebook.svg');
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.forms__item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.forms__link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 103px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
    text-decoration: none ;
}
/* ТРетья Форма */

.mir__logo{
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mir__reg{
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 36px;
    margin-top: 36px;
}
.mir__reg__container{
    color: #0D0D0C;
    background: rgba(221, 183, 113, 0.22);
    width: 468px;
    height: 64px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.mir__reg__text{
    font-family: 'Nunito-sans-light';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 4.5%;    
}
.mir__form__wrap{
    width: 468px;
    height: 400px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background: rgba(221, 183, 113, 0.22);
    padding-top: 55px;
}
.mir__form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mir__form__input{
    width: 360px;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(206, 206, 206, 0.25);
    border-radius: 30px;
    border: none;

}
.text__300{
    font-family: 'Nunito-sans-light';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}
.text__400{
    font-family: 'Nunito-sans-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}
.text__900{
    font-family: 'Nunito-sans-black';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
}
.mir__form__text{
    margin-top: 34px;
    width: 307px;
    height: 42px;
    color: #0D0D0C;
}
.inpleg__first{
    margin-bottom: 21px;
}
.mir__btn{
    width: 188px;
    height: 51px;
    background: #08A045;
    border-radius: 60px;
    border:none;
    color: #FFFFFF;

}
.mir__button__container{
    display: flex;
    justify-content: end;
    margin-top: 44px;
    margin-left: auto;
    margin-bottom: 50px;
}
.mir__form__legend{
    padding-bottom: 20px;
}


.triangle-left {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 10px solid #ddb771;
    margin-right: 5px;
}

.arrowwith_text{
    display: flex;
    align-items: center;
}
.lost__password{
    color: rgba(15, 15, 15, 0.71);
}
.lost-password{
    text-decoration: none;
    color: rgba(15, 15, 15, 0.71);
}
.third__block{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 190px;
    margin-top: 40px;
}
/* .last__block{
} */

.politics__text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 95px;
    margin-bottom: 116px;
}
/* READY */
.ready__text{
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 72px;
    font-size: 48px;
}
.ready__text__400{
    font-family: 'Montserrat-regular';
    font-style: normal;
    font-weight: 400;
}
.ready__wrap{
    margin: 120px 144px 30px 144px;
}
.ready__sectext{
    font-size: 36px;
    line-height: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.ready__secwrap{
    margin: 0 144px 80px 144px;
}
.sign{
    width: 622px;
    height: 439px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.form__sign{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign__text{
    font-family: 'Montserrat-bold';
    font-style: normal;
    font-weight: 700;
    margin: 64px 0 43px 64px;
    letter-spacing: -0.015em;
    color: #000000;
    font-size: 24px;
    line-height: 36px;
}
.inputs{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 237px;
    height: 40px;
    margin-right: 20px;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 24px;
}
.inps__block{
    display: flex;
    justify-content: center;
}
.inps{
    margin-left: 24px;
}
.inps__blocksec{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 494px;
    padding-left: 39px;
}
.inputs__sec{
    width: 494px;
    height: 40px;
    margin-bottom: 24px;
}
.sign__text__500{
    font-family: 'Montserrat-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}
.sign__btn{
    padding-left: 39px;
}
.sign__button{
    width: 130px;
    height: 40px;
    background: #18A0FB;
    border-radius: 6px;
    border: none;
    color:#FFFFFF;
}
/* fiveth */
.zvonok{position: relative;
    width: 434px;
    height: 467px;
    
    /* Transparent yellow */
    
    background: #FFFBF1;
    /* Background blur */
    
    backdrop-filter: blur(7.5px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 3px;
margin: 0 auto;}
.krestik{flex: none;
    order: 0;
    flex-grow: 0;
margin-left:389px;

}
.krest{}
.zvonok__window{}
.zvonok__title{font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    margin-left: 50px;

    /* identical to box height, or 150% */
    
   
    /* Violet */
    
    color: #6D3496;
    
    
    /* Inside auto layout */
    
    
    order: 0;
    flex-grow: 0;}
.knopki{}
.knopki__name{
    
}
.knopki__name1{
    box-sizing: border-box;
    
    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    
    width: 334px;
    height: 42px;
    
    /* Violet */
    
    border: 2px solid #6D3496;
    border-radius: 3px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
margin-left: 50px;}
.knopki__name2{
    box-sizing: border-box;
    
    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    
    width: 334px;
    height: 42px;
    
    /* Violet */
    
    border: 2px solid #6D3496;
    border-radius: 3px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
margin-left: 50px;
margin-top:20px
;}
.zvonok__window__rassilka{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 304px;
height: 75px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 1;
margin-left: 55px;
margin-top: 30px;
}
.zvonok__window__rassilka__rassilka{}


   


.zvonok__window__knopka1{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    
    width: 334px;
    height: 50px;
    background: #6D3496;
/* Ordinary shadow */
border: 1px solid #6D3496;
flex: none;

    align-self: stretch;
    flex-grow: 0;
color:white}
/* zayvka */
.zayvka{/* Auto layout */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 25px;
    
    position: relative;
    width: 608px;
    height: 348px;
    margin-top: 0 auto;
    /* Transparent yellow */
    
    background: #FFFBF1;
    border-radius: 3px;}
.zayvka__krestik{}
.zayvka__window{display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 100px 45px;
    gap: 30px;
    
    width: 558px;
    height: 278px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;}
.zayvka__title{font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    /* identical to box height, or 150% */
    margin-left: 125px;

    
    /* Violet */
    
    color: #6D3496;
    
    
    /* Inside auto layout */
    
 

    }
.zayvka__text{/* Простой текст */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    margin-left: 125px;
    text-align: center;
    
width: 358px;
height: 50px;
    /* Violet */
    
    color: #6D3496;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 1;
    }
.zayvka__knopka{display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    gap: 10px;
    
    width: 177px;
    height: 50px;
    
    /* Violet */
    
    background: #6D3496;
    /* Ordinary shadow */
    
    border-radius: 3px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    color: #FFFFFF;
    border: 1px solid #6D3496;
margin-left: 215.5px;}
/* seventh */
.seventh{
    display: flex;
    justify-content: center;

}
.seventh__block{
    margin: 0 auto;
    height: 1211px;
    width: 1920px;
}
.seventh__title{
    margin-top: 120px;
    justify-content: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-transform: uppercase;
    color: #6D3496;
    text-align: center;
    margin-top: 120px;
}
.seventh__form{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 70px;
    color: #6D3496;
}
.seventh__info{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #6D3496;
    text-align: center;
    margin-top: 20px;
    margin-left:50px;
}
.sci{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    width: 422.5px;
    height: 42px;
    border: 2px solid #6D3496;
    border-radius: 3px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #6D3496;
}
.seventh__client__info1{
    margin-left: 460px;
    margin-top: 40px;
}
.seventh__client__info2{
margin-left: 915px;
margin-top: -66px;
}
.seventh__message{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    width: 875px;
    height: 108px;
    border: 2px solid #6D3496;
    border-radius: 3px;
    margin-top: 35px;
    margin-left: 460px; 
}
.seventh__check{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #6D3496;
    margin: 30 auto;
    justify-content: center;
}
.seventh__data-processing{
    flex: 0 0 25px;
}
.seventh__checkboxblock{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.seventh__btn{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    gap: 10px;
    width: 216px;
    height: 50px;
    background: #6D3496;
    border: 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #FFFBF1;
}
.seventh__block-for-btn{
    margin: 0 auto;
    margin-top: 40px;
}
.seventh__end{
    height: 433px;
    background: #6D3496;
    margin-top: 120px;
}
